/*==========================================================================

# 変数定義

========================================================================== */

/*
# フォントファミリー
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$font-family-jp: 'Noto Serif JP', sans-serif;
$font-family-en: 'Lora', sans-serif;

/*
# フォントウェイト
==================================== */
$light: 300;
$regular: 400;
$medium: 500;

/*
# カラー
==================================== */
$main-color: #ffffff;
$secondary-color: #31452d;
$tertiary-color: #eeead0;
$accent-color: #b69b04;

$text-color: #4c4b48;

/*
# レイアウト幅
==================================== */
$layout-width-canvas: 1440px;
$pc-inner: 1040px;
$sp-inner: 335px;
$tab-inner: 688px;

/*
# ブレイクポイント
==================================== */
$breakpoints: (
  //キー : 値
  "sp": "(max-width: 599px)",
  "tab": "(min-width:600px) and (max-width: #{$pc-inner - 1px})",
  "pc": "(min-width: #{$pc-inner})"
) !default;

/*
# メディアクエリ
==================================== */
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*
# z-index
==================================== */
$hamburger-icon: 23;
$hamburger-box: 22;
$header: 20;